.chart{
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.26);
    padding: 10px;
}