.featured{
    flex: 2;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.26);
    padding: 10px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(178, 178, 178);
        .title{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bottom{

        .featuredChart{
            
        }
    }
}